input{
    opacity: 0;
    position: fixed;
    width: 0;
  }

  input:checked + label {
    background-color:orange;
    border-color: rgb(204, 138, 68);
}

/* input:focus + label {
    border: 2px dashed #444;
} */
label:hover {
    background-color: rgb(234, 178, 10);
  }

label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    width: 100%;
}

.tags{
    text-align: center;
    margin-bottom: 5px;
    font-size: large;
}

.pagination{
    text-align: center;
    background-color: rgb(187, 241, 241);
    font-size: larger;
}

h1{
    background-color: rgb(4, 4, 112);
    color: white;
    padding: 10px;
    padding-left: 20px;
}

h2{
    padding-left: 30px;
    margin-bottom: 20px;
}