<h1>Coding ninjas</h1>
<h2>Events</h2>
<div class="container">
  <div class="row">
    <div class="col">
<input
  type="radio"
  id="radio-allevents"
  name="eventName"
  value="ALL_EVENTS"
  [(ngModel)]="eventCategory"
  (ngModelChange)="updateResults($event)"
/><label for="radio-allevents">All Events</label>
</div>
<div class="col">
<input
  type="radio"
  id="radio-webinars"
  name="eventName"
  value="WEBINAR"
  [(ngModel)]="eventCategory"
  (ngModelChange)="updateResults($event)"
/>
<label for="radio-webinars">Webinars</label>
</div>
<div class="col">
<input
  type="radio"
  id="radio-codingevents"
  name="eventName"
  value="CODING_EVENT"
  [(ngModel)]="eventCategory"
  (ngModelChange)="updateResults($event)"
/>
<label for="radio-codingevents">Coding Events</label></div>
<div class="col"> <input
  type="radio"
  id="radio-bootcampevents"
  name="eventName"
  value="BOOTCAMP_EVENT"
  [(ngModel)]="eventCategory"
  (ngModelChange)="updateResults($event)"
/>
<label for="radio-bootcampevents">Bootcamp Events</label> 
</div>
<div class="col">
<input
  type="radio"
  id="radio-worshop"
  name="eventName"
  value="WORKSHOP"
  [(ngModel)]="eventCategory"
  (ngModelChange)="updateResults($event)"
/>
<label for="radio-worshop">Workshop</label>
</div>
</div>
<br />  
<div class="row">
  <div class="col">
<input
  type="radio"
  id="radio-upcoming"
  name="eventSubCategory"
  value="Upcoming"
  [(ngModel)]="eventSubCategory"
  (ngModelChange)="updateResults($event)"
/>
<label for="radio-upcoming">Upcoming</label>
</div>
<div class="col">
<input
  type="radio"
  id="radio-archived"
  name="eventSubCategory"
  value="Archived"
  [(ngModel)]="eventSubCategory"
  (ngModelChange)="updateResults($event)"
/>
<label for="radio-archived">Archived</label>
</div>
<div class="col">
<input
  type="radio"
  id="radio-favourites"
  name="eventSubCategory"
  value="All Time Favorites"
  [(ngModel)]="eventSubCategory"
  (ngModelChange)="updateResults($event)"
/>
<label for="radio-favourites">All time Favorites</label>
</div>
</div>
<br/>
<div class="row pagination">
  <div class="col">
<button (click)="changeToPrev($event)">Prev</button>{{ i + 1 }}
<button (click)="changeToNext($event)">Next</button>
</div>
</div>
<br/>
<div class="row">
  <div class="col-md-9 col-sm-12">
  <app-eventlist [filteredEventsList]="singlePageEvents"></app-eventlist>
</div>

<div class="col-md-3 col-sm-12">
<h3 class="tags" >Tags</h3>
<div class="tags" *ngFor="let tag of allTagsList">
  <input id="checkbox-{{tag}}" type="checkbox" [name]="tag" (click)="updateTags(tag)" />
  <label for="checkbox-{{tag}}">{{ tag }}</label> 
</div>
</div>

</div>

</div>
